# Block file extensions
*.log
*.pyc

# Block directories
## Block pycache
/backend/__pycache__
/backend/routers/__pycache__
/backend/middleware/__pycache__
/backend/utils/__pycache__
/backend/services/__pycache__
/backend/migrations/__pycache__
/backend/*/__pycache__

## Block static files
/backend/static/images/dummies
/static/images/dummies

## Block test files
*debug*.txt
*error*.txt
*test*.txt
/frontend/node_modules
/frontend/dist/logo
/frontend/dist/assets
/frontend/dist
frontend/test-results/.last-run.json
