/backend/__pycache__
*.log
/backend/routers/__pycache__
/backend/middleware/__pycache__
/backend/utils/__pycache__
/backend/services/__pycache__
/backend/migrations/__pycache__
/backend/*/__pycache__
*.pyc
/backend/static/images/dummies
/static/images/dummies
ref_test_auth.txt
ref_test_mail.txt
role_debug.txt
refactor_debug.txt
