fastapi==0.128.5
uvicorn[standard]==0.40.0
sqlalchemy==2.0.46
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic-settings==2.12.0
python-multipart==0.0.22
email-validator==2.3.0
bcrypt==5.0.0
pyotp==2.9.0
webauthn==2.7.0
pytest==9.0.2
httpx==0.28.1
fastapi-sso==0.20.0
Faker==40.4.0
APScheduler==3.11.2