name: Frontend CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'frontend/**'
      - '.github/workflows/frontend-ci.yml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'frontend/**'
      - '.github/workflows/frontend-ci.yml'

concurrency:
  group: frontend-${{ github.ref }}
  cancel-in-progress: true

jobs:
  frontend-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Node
      uses: actions/setup-node@v6
      with:
        node-version: '24'
    - name: Install Dependencies
      run: |
        cd frontend
        npm install
    - name: Lint Frontend
      run: |
        cd frontend
        npm run lint
    - name: Run Tests
      run: |
        cd frontend
        npm test
