name: CI Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  backend-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
    - name: Install Dependencies
      run: |
        cd backend
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        cd backend
        pytest

  frontend-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '20'
    - name: Install Dependencies
      run: |
        cd frontend
        npm ci
    - name: Run Tests
      run: |
        cd frontend
        npm test
